.cn-tag {
    @apply bg-gray-100 text-gray-600;
    transition: background-color 0.2s;
    &.loading {
        pointer-events: none;
    }
    &.hide {
        display: none;
    }
    &.checked {
        @apply bg-gray-200;
    }
    &.bordered {
        @apply border-2 border-solid border-gray-200;
    }
    & .cn-icon-font {
        @apply ml-1;
    }
}
