.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
    transition: background-color, transform, 0.3s;
    flex-basis: 3px !important;
}
.gutter:hover {
    transform: scaleX(1.5);
    background-color: #1a53ff;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}
