.cn-fade-enter-active,
.cn-fade-exit-active {
    transition:
        opacity 0.3s,
        transform 0.3s;
}
.cn-fade-enter,
.cn-fade-exit-to {
    transform: scale(0.7);
    opacity: 0;
}
.cn-fade-enter {
    transform: scale(1.3);
}
.cn-fade-exit-active {
    position: absolute;
}
