.cn-typography ::-webkit-scrollbar {
    @apply h-2 w-2;
}

.cn-typography ::-webkit-scrollbar-thumb {
    @apply bg-slate-300;
}

.cn-typography ::-webkit-scrollbar-track-piece {
    @apply bg-transparent;
}

.cn-typography {
    font-family: var(--default-font);
    @apply box-border w-full px-8 pb-12 font-thin text-slate-800;
    /* 默认不显示下划线，保持页面简洁 */
}
.cn-typography ins,
.cn-typography a {
    @apply underline underline-offset-2;
}

/* 专名号：虽然 u 已经重回 html5 Draft，但在所有浏览器中都是可以使用的，
*/
.cn-typography u {
    @apply underline underline-offset-2;
}

/* 标记，类似于手写的荧光笔的作用 */
.cn-typography mark {
    @apply mx-4  bg-yellow-200 px-0.5;
}

/* 代码片断 */
.cn-typography pre,
.cn-typography pre tt {
    font-family: Courier, 'Courier New', monospace;
}

.cn-typography pre {
    @apply overflow-auto rounded-2xl px-4;
}
/* 保证块/段落之间的空白隔行 */
.cn-typography p,
.cn-typography pre,
.cn-typography ul,
.cn-typography ol,
.cn-typography dl,
.cn-typography form,
.cn-typography table,
.cn-typography blockquote {
    /* 因为文章上面可能有 header 所以不适合加上边框 */
    @apply mb-4;
}

/* 两边对齐会导致 部分文本间隔过大 */
/* .cn-typography p {
    @apply text-justify;
} */

.cn-typography hr {
    @apply my-2;
}
.cn-typography blockquote {
    @apply relative  my-2 border-l-4 border-solid border-slate-400 pl-2 font-normal text-slate-400;
}
.cn-typography :not(pre) code {
    @apply mx-1 my-2 rounded-md bg-slate-100 px-1;
}

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
.cn-typography h1,
.cn-typography h2,
.cn-typography h3,
.cn-typography h4,
.cn-typography h5,
.cn-typography h6 {
    @apply mb-[0.6em] mt-[1.2em] font-normal leading-snug;
}

.cn-typography h1 {
    @apply text-3xl;
}
.cn-typography h2 {
    @apply text-2xl;
}

.cn-typography h3 {
    @apply text-xl;
}

.cn-typography h4 {
    @apply text-lg;
}

.cn-typography h5 {
    @apply text-sm;
}

.cn-typography h6 {
    @apply text-xs;
}
.cn-typography ul {
    /*  ul 和 ol 在默认表现下会有一定的左距离，所以需要 6 来保证序列标记在第一个字 */
    @apply ml-6 list-disc;
}

.cn-typography ol {
    @apply ml-6 list-decimal;
}

.cn-typography li ul,
.cn-typography li ol {
    @apply ml-8 mb-3;
}

.cn-typography li ul {
    list-style: circle;
    @apply list-[circle];
}

.cn-typography table {
    @apply block w-[max-content] max-w-[100%] overflow-auto;
}

/* 同 ul/ol，在文章中应用 table 基本格式 */
.cn-typography table th,
.cn-typography table td,
.cn-typography table caption {
    @apply border border-solid border-slate-700 px-2 py-4 text-slate-700;
}

.cn-typography table caption {
    @apply border-b-0;
}

/* 去除 webkit 中 input 和 textarea 的默认样式  */
.cn-typography input,
.cn-typography textarea {
    @apply appearance-none rounded-none;
}

.cn-typography em,
.cn-typography legend,
.cn-typography caption {
    font-weight: inherit;
}

/* 不使用着重号，*/
.cn-typography em {
    @apply relative mx-1;
}

.cn-typography abbr {
    @apply underline-offset-4;
}
/* Responsive images */
.cn-typography img {
    @apply max-w-[100%];
}
.cn-typography > p {
    @apply whitespace-pre-wrap indent-[2em] leading-7;
}
.cn-typography a {
    @apply text-sky-500 hover:text-sky-400;
}
.cn-typography strong {
    @apply mx-1;
}
