---
import allDemo from '../../stroy.json';
export function getStaticPaths() {
    return allDemo.map((i) => {
        return { params: { comp: i } };
    });
}
const { comp } = Astro.params;
---

<section class="flex flex-col">
    <header></header>
    <main>
        {comp}
    </main>
</section>
