---
import allDemo from '../../stroy.json';
import Header from '../../components/Header.astro';
import { Story } from '../../components/Story/index';
import Layout from '../../layouts/Layout.astro';
export function getStaticPaths() {
    return allDemo.map((i) => {
        return { params: { comp: i } };
    });
}
const { comp } = Astro.params;
---

<Layout>
    <section class="flex flex-col h-screen">
        <Header />

        <main class="w-full flex-1 bg-neutral-50 overflow-hidden flex">
            <Story code="" path={comp!} client:only="solid-js" />
        </main>
    </section>
</Layout>
