.cn-icon-font {
    display: inline-block;
    font-family: var(--cn-icon, 'Material Icons');
    user-select: none;
    font-style: normal;
    transform-origin: 50% 50%;
}
.cn-icon-spin {
    animation: rotate-center 1s linear infinite both;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
