---
export interface Prop{
    class?:string
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>原子流手册</title>
	</head>
	<body class={Astro.props.class}>
        <slot></slot>
	</body>
</html>
