.cn-icon-font {
    font-family: var(--cn-icon, 'Material Icons Rounded');
}
.cn-icon-font.spin {
    animation: rotate-center 1s linear infinite both;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
