
:root{
    --light-red-0:#500a16 ; /* 金鱼紫 */
--light-red-1:#82111f ; /* 殷红 */
--light-red-2:#a61b29 ; /* 苋菜红 */
--light-red-3:#d11a2d ; /* 鹅冠红 */
--light-red-4:#ed3333 ; /* 枸枢红 */
--light-red-5:#ed5a65 ; /* 艳红 */
--light-red-6:#f1908c ; /* 榴子红 */
--light-red-7:#f0ada0 ; /* 桃红 */
--light-red-8:#f4c7ba ; /* 洋水仙红 */
--light-red-9:#f8ebe6 ; /* 草珠红 */
--light-orangered-0:#5c1e19 ; /* 栗棕 */
--light-orangered-1:#862617 ; /* 赭石 */
--light-orangered-2:#b14b28 ; /* 蟹蝥红 */
--light-orangered-3:#cf4813 ; /* 落霞红 */
--light-orangered-4:#f27635 ; /* 蟹壳红 */
--light-orangered-5:#f68c60 ; /* 瓜瓤红 */
--light-orangered-6:#f8b37f ; /* 玫瑰粉 */
--light-orangered-7:#e8b49a ; /* 玉粉红 */
--light-orangered-8:#f7cfba ; /* 介壳淡粉红 */
--light-orangered-9:#fbeee2 ; /* 淡米粉 */
--light-orange-0:#652b1c ; /* 可可棕 */
--light-orange-1:#732e12 ; /* 筍皮棕 */
--light-orange-2:#b7511d ; /* 淡可可棕 */
--light-orange-3:#d85916 ; /* 铁棕 */
--light-orange-4:#f97d1c ; /* 橘橙 */
--light-orange-5:#f28e16 ; /* 杏黄 */
--light-orange-6:#fbb957 ; /* 蜜黄 */
--light-orange-7:#f9cb8b ; /* 瓜瓤粉 */
--light-orange-8:#f8e0b0 ; /* 淡肉色 */
--light-orange-9:#fbf2e3 ; /* 粉白 */
--light-gold-0:#5c3719 ; /* 古铜褐 */
--light-gold-1:#835e1d ; /* 蜴蜊绿 */
--light-gold-2:#8a6913 ; /* 灰绿 */
--light-gold-3:#d6a01d ; /* 土黄 */
--light-gold-4:#fbb929 ; /* 鹅掌黄 */
--light-gold-5:#f6c430 ; /* 鹦鹉冠黄 */
--light-gold-6:#f8d86a ; /* 葵扇黄 */
--light-gold-7:#f7de98 ; /* 篾黄 */
--light-gold-8:#f7e8aa ; /* 杏仁黄 */
--light-gold-9:#f9f4dc ; /* 乳白 */
--light-yellow-0:#5b4913 ; /* 棕榈绿 */
--light-yellow-1:#876818 ; /* 粽叶绿 */
--light-yellow-2:#b78d12 ; /* 枯绿 */
--light-yellow-3:#d2b116 ; /* 新禾绿 */
--light-yellow-4:#fed71a ; /* 佛手黄 */
--light-yellow-5:#fbda41 ; /* 油菜花黄 */
--light-yellow-6:#e2d849 ; /* 蝶黄 */
--light-yellow-7:#d2d97a ; /* 槐花黄绿 */
--light-yellow-8:#f7e8aa ; /* 杏仁黄 */
--light-yellow-9:#f9f4dc ; /* 乳白 */
--light-lime-0:#5e5314 ; /* 橄榄绿 */
--light-lime-1:#20894d ; /* 宫殿绿 */
--light-lime-2:#5bae23 ; /* 鹦鹉绿 */
--light-lime-3:#5bae23 ; /* 鹦鹉绿 */
--light-lime-4:#bec936 ; /* 橄榄黄绿 */
--light-lime-5:#bec936 ; /* 橄榄黄绿 */
--light-lime-6:#bacf65 ; /* 苹果绿 */
--light-lime-7:#d2d97a ; /* 槐花黄绿 */
--light-lime-8:#d0deaa ; /* 姚黄 */
--light-lime-9:#f9f4dc ; /* 乳白 */
--light-green-0:#1a6840 ; /* 荷叶绿 */
--light-green-1:#207f4c ; /* 薄荷绿 */
--light-green-2:#229453 ; /* 孔雀绿 */
--light-green-3:#41ae3c ; /* 宝石绿 */
--light-green-4:#41ae3c ; /* 宝石绿 */
--light-green-5:#43b244 ; /* 鲜绿 */
--light-green-6:#41b349 ; /* 玉髓绿 */
--light-green-7:#8cc269 ; /* 水绿 */
--light-green-8:#add5a2 ; /* 嘉陵水绿 */
--light-green-9:#dfecd5 ; /* 艾背绿 */
--light-cyan-0:#134857 ; /* 苍蓝 */
--light-cyan-1:#126e82 ; /* 玉鈫蓝 */
--light-cyan-2:#3b818c ; /* 蜻蜓蓝 */
--light-cyan-3:#10aec2 ; /* 甸子蓝 */
--light-cyan-4:#57c3c2 ; /* 石绿 */
--light-cyan-5:#57c3c2 ; /* 石绿 */
--light-cyan-6:#57c3c2 ; /* 石绿 */
--light-cyan-7:#93d5dc ; /* 清水蓝 */
--light-cyan-8:#c6e6e8 ; /* 海天蓝 */
--light-cyan-9:#eef7f2 ; /* 月白 */
--light-blue-0:#1f2040 ; /* 晶石紫 */
--light-blue-1:#2e317c ; /* 满天星紫 */
--light-blue-2:#0f59a4 ; /* 飞燕草蓝 */
--light-blue-3:#1661ab ; /* 靛青 */
--light-blue-4:#1661ab ; /* 靛青 */
--light-blue-5:#2983bb ; /* 潮蓝 */
--light-blue-6:#619ac3 ; /* 羽扇豆蓝 */
--light-blue-7:#93b5cf ; /* 星蓝 */
--light-blue-8:#b0d5df ; /* 湖水蓝 */
--light-blue-9:#eef7f2 ; /* 月白 */
--light-purple-0:#2e317c ; /* 满天星紫 */
--light-purple-1:#2e317c ; /* 满天星紫 */
--light-purple-2:#2e317c ; /* 满天星紫 */
--light-purple-3:#7e1671 ; /* 魏紫 */
--light-purple-4:#7e1671 ; /* 魏紫 */
--light-purple-5:#813c85 ; /* 桔梗紫 */
--light-purple-6:#813c85 ; /* 桔梗紫 */
--light-purple-7:#ad6598 ; /* 豆蔻紫 */
--light-purple-8:#c8adc4 ; /* 凤信紫 */
--light-purple-9:#e9d7df ; /* 丁香淡紫 */
--light-magenta-0:#681752 ; /* 牵牛紫 */
--light-magenta-1:#7e2065 ; /* 葛巾紫 */
--light-magenta-2:#9b1e64 ; /* 苋菜紫 */
--light-magenta-3:#ba2f7b ; /* 玫瑰紫 */
--light-magenta-4:#ef498b ; /* 扁豆花红 */
--light-magenta-5:#ef498b ; /* 扁豆花红 */
--light-magenta-6:#e16c96 ; /* 初荷红 */
--light-magenta-7:#ec8aa4 ; /* 报春红 */
--light-magenta-8:#eeb8c3 ; /* 姜红 */
--light-magenta-9:#ede3e7 ; /* 马鞭草紫 */
--light-gray-0:#22202e ; /* 暗龙胆紫 */
--light-gray-1:#2b333e ; /* 青灰 */
--light-gray-2:#495c69 ; /* 战舰灰 */
--light-gray-3:#5e7987 ; /* 淡蓝灰 */
--light-gray-4:#869d9d ; /* 虾壳青 */
--light-gray-5:#b2bbbe ; /* 星灰 */
--light-gray-6:#ccccd6 ; /* 远山紫 */
--light-gray-7:#e2e1e4 ; /* 芡食白 */
--light-gray-8:#f1f0ed ; /* 银白 */
--light-gray-9:#fffefa ; /* 海参灰 */
--dark-red-0:#f8ebe6 ; /* 草珠红 */
--dark-red-1:#f6cec1 ; /* 淡桃红 */
--dark-red-2:#f0ada0 ; /* 桃红 */
--dark-red-3:#f1908c ; /* 榴子红 */
--dark-red-4:#ed5a65 ; /* 艳红 */
--dark-red-5:#ed4845 ; /* 淡菽红 */
--dark-red-6:#c21f30 ; /* 枫叶红 */
--dark-red-7:#a61b29 ; /* 苋菜红 */
--dark-red-8:#82111f ; /* 殷红 */
--dark-red-9:#500a16 ; /* 金鱼紫 */
--dark-orangered-0:#fbeee2 ; /* 淡米粉 */
--dark-orangered-1:#f7cfba ; /* 介壳淡粉红 */
--dark-orangered-2:#e8b49a ; /* 玉粉红 */
--dark-orangered-3:#f8b37f ; /* 玫瑰粉 */
--dark-orangered-4:#f0945d ; /* 海螺橙 */
--dark-orangered-5:#f27635 ; /* 蟹壳红 */
--dark-orangered-6:#cd6227 ; /* 火砖红 */
--dark-orangered-7:#b14b28 ; /* 蟹蝥红 */
--dark-orangered-8:#862617 ; /* 赭石 */
--dark-orangered-9:#5c1e19 ; /* 栗棕 */
--dark-orange-0:#fbf2e3 ; /* 粉白 */
--dark-orange-1:#f8e0b0 ; /* 淡肉色 */
--dark-orange-2:#f9cb8b ; /* 瓜瓤粉 */
--dark-orange-3:#fbb957 ; /* 蜜黄 */
--dark-orange-4:#f28e16 ; /* 杏黄 */
--dark-orange-5:#fc8c23 ; /* 北瓜黄 */
--dark-orange-6:#de7622 ; /* 麂棕 */
--dark-orange-7:#b7511d ; /* 淡可可棕 */
--dark-orange-8:#732e12 ; /* 筍皮棕 */
--dark-orange-9:#652b1c ; /* 可可棕 */
--dark-gold-0:#f9f4dc ; /* 乳白 */
--dark-gold-1:#f7e8aa ; /* 杏仁黄 */
--dark-gold-2:#f7de98 ; /* 篾黄 */
--dark-gold-3:#f8d86a ; /* 葵扇黄 */
--dark-gold-4:#f6c430 ; /* 鹦鹉冠黄 */
--dark-gold-5:#f8bc31 ; /* 初熟杏黄 */
--dark-gold-6:#d6a01d ; /* 土黄 */
--dark-gold-7:#8a6913 ; /* 灰绿 */
--dark-gold-8:#835e1d ; /* 蜴蜊绿 */
--dark-gold-9:#5c3719 ; /* 古铜褐 */
--dark-yellow-0:#f0f5e5 ; /* 嫩菊绿 */
--dark-yellow-1:#f7e8aa ; /* 杏仁黄 */
--dark-yellow-2:#d2d97a ; /* 槐花黄绿 */
--dark-yellow-3:#f8df70 ; /* 麦秆黄 */
--dark-yellow-4:#fbda41 ; /* 油菜花黄 */
--dark-yellow-5:#fbda41 ; /* 油菜花黄 */
--dark-yellow-6:#d2b42c ; /* 草黄 */
--dark-yellow-7:#b78b26 ; /* 山鸡黄 */
--dark-yellow-8:#876818 ; /* 粽叶绿 */
--dark-yellow-9:#5b4913 ; /* 棕榈绿 */
--dark-lime-0:#f0f5e5 ; /* 嫩菊绿 */
--dark-lime-1:#e2e7bf ; /* 海沬绿 */
--dark-lime-2:#d2d97a ; /* 槐花黄绿 */
--dark-lime-3:#bacf65 ; /* 苹果绿 */
--dark-lime-4:#bec936 ; /* 橄榄黄绿 */
--dark-lime-5:#bec936 ; /* 橄榄黄绿 */
--dark-lime-6:#96c24e ; /* 芽绿 */
--dark-lime-7:#5bae23 ; /* 鹦鹉绿 */
--dark-lime-8:#20894d ; /* 宫殿绿 */
--dark-lime-9:#5e5314 ; /* 橄榄绿 */
--dark-green-0:#f0f5e5 ; /* 嫩菊绿 */
--dark-green-1:#add5a2 ; /* 嘉陵水绿 */
--dark-green-2:#8cc269 ; /* 水绿 */
--dark-green-3:#41b349 ; /* 玉髓绿 */
--dark-green-4:#43b244 ; /* 鲜绿 */
--dark-green-5:#43b244 ; /* 鲜绿 */
--dark-green-6:#41b349 ; /* 玉髓绿 */
--dark-green-7:#229453 ; /* 孔雀绿 */
--dark-green-8:#207f4c ; /* 薄荷绿 */
--dark-green-9:#1a6840 ; /* 荷叶绿 */
--dark-cyan-0:#eef7f2 ; /* 月白 */
--dark-cyan-1:#c6e6e8 ; /* 海天蓝 */
--dark-cyan-2:#93d5dc ; /* 清水蓝 */
--dark-cyan-3:#57c3c2 ; /* 石绿 */
--dark-cyan-4:#57c3c2 ; /* 石绿 */
--dark-cyan-5:#57c3c2 ; /* 石绿 */
--dark-cyan-6:#10aec2 ; /* 甸子蓝 */
--dark-cyan-7:#3b818c ; /* 蜻蜓蓝 */
--dark-cyan-8:#126e82 ; /* 玉鈫蓝 */
--dark-cyan-9:#134857 ; /* 苍蓝 */
--dark-blue-0:#eef7f2 ; /* 月白 */
--dark-blue-1:#b0d5df ; /* 湖水蓝 */
--dark-blue-2:#93b5cf ; /* 星蓝 */
--dark-blue-3:#619ac3 ; /* 羽扇豆蓝 */
--dark-blue-4:#2983bb ; /* 潮蓝 */
--dark-blue-5:#2177b8 ; /* 虹蓝 */
--dark-blue-6:#1661ab ; /* 靛青 */
--dark-blue-7:#0f59a4 ; /* 飞燕草蓝 */
--dark-blue-8:#2e317c ; /* 满天星紫 */
--dark-blue-9:#1f2040 ; /* 晶石紫 */
--dark-purple-0:#ede3e7 ; /* 马鞭草紫 */
--dark-purple-1:#c8adc4 ; /* 凤信紫 */
--dark-purple-2:#bc84a8 ; /* 青蛤壳紫 */
--dark-purple-3:#813c85 ; /* 桔梗紫 */
--dark-purple-4:#813c85 ; /* 桔梗紫 */
--dark-purple-5:#7e1671 ; /* 魏紫 */
--dark-purple-6:#2e317c ; /* 满天星紫 */
--dark-purple-7:#2e317c ; /* 满天星紫 */
--dark-purple-8:#2e317c ; /* 满天星紫 */
--dark-purple-9:#2e317c ; /* 满天星紫 */
--dark-magenta-0:#ede3e7 ; /* 马鞭草紫 */
--dark-magenta-1:#eeb8c3 ; /* 姜红 */
--dark-magenta-2:#ed9db2 ; /* 豇豆红 */
--dark-magenta-3:#e16c96 ; /* 初荷红 */
--dark-magenta-4:#ef498b ; /* 扁豆花红 */
--dark-magenta-5:#ef498b ; /* 扁豆花红 */
--dark-magenta-6:#ba2f7b ; /* 玫瑰紫 */
--dark-magenta-7:#9b1e64 ; /* 苋菜紫 */
--dark-magenta-8:#7e2065 ; /* 葛巾紫 */
--dark-magenta-9:#681752 ; /* 牵牛紫 */
--dark-gray-0:#22202e ; /* 暗龙胆紫 */
--dark-gray-1:#2b333e ; /* 青灰 */
--dark-gray-2:#495c69 ; /* 战舰灰 */
--dark-gray-3:#5e7987 ; /* 淡蓝灰 */
--dark-gray-4:#869d9d ; /* 虾壳青 */
--dark-gray-5:#b2bbbe ; /* 星灰 */
--dark-gray-6:#ccccd6 ; /* 远山紫 */
--dark-gray-7:#e2e1e4 ; /* 芡食白 */
--dark-gray-8:#f1f0ed ; /* 银白 */
--dark-gray-9:#fffefa ; /* 海参灰 */
}
