.cn-collapse {
    .cn-collapse-item {
        .cn-collapse-summary {
        }
        .cn-collapse-container {
            display: none;
            height: auto;

            transition: height 2s cubic-bezier(0.34, 0.69, 0.1, 1);
            &.show {
                display: block;
                // height: 500px;
            }
        }
        &:last-of-type {
            border-bottom: none;
        }
    }
}
