@import url('@cn-ui/palette/dist/setting.css');
@import url('@cn-ui/palette/dist/setting.dark.css');
@import url('./element.less');
@import 'sanitize.css';
:root {
    --cn-icon: 'Material Icons';

    --font-default: var(--font-special), PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei,
        Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;

    /******** size *******/
    /*
    sm (640px)	max-width: 640px;
    md (768px)	max-width: 768px;
    lg (1024px)	max-width: 1024px;
    xl (1280px)	max-width: 1280px;
    2xl (1536px)	max-width: 1536px; */
    --container-sm: 640px;
    --container-md: 768px;
    --container-lg: 1024px;
    --container-xl: 1280px;
    --container-2xl: 1536px;

    --size-none: 0;
    --size-1: 4px;
    --size-2: 8px;
    --size-3: 12px;
    --size-4: 16px;
    --size-5: 20px;
    --size-6: 24px;
    --size-7: 28px;
    --size-8: 32px;
    --size-9: 36px;
    --size-10: 40px;
    --size-11: 44px;
    --size-12: 48px;
    --size-13: 52px;
    --size-14: 56px;
    --size-15: 60px;
    --size-16: 64px;
    --size-17: 68px;
    --size-18: 72px;
    --size-19: 76px;
    --size-20: 80px;
    --size-21: 84px;
    --size-22: 88px;
    --size-23: 92px;
    --size-24: 96px;
    --size-25: 100px;
    --size-26: 104px;
    --size-27: 108px;
    --size-28: 112px;
    --size-29: 116px;
    --size-30: 120px;
    --size-31: 124px;
    --size-32: 128px;
    --size-33: 132px;
    --size-34: 136px;
    --size-35: 140px;
    --size-36: 144px;
    --size-37: 148px;
    --size-38: 152px;
    --size-39: 156px;
    --size-40: 160px;
    --size-41: 164px;
    --size-42: 168px;
    --size-43: 172px;
    --size-44: 176px;
    --size-45: 180px;
    --size-46: 184px;
    --size-47: 188px;
    --size-48: 192px;
    --size-49: 196px;
    --size-50: 200px;

    --size-mini: var(--size-6);
    --size-small: var(--size-7);
    --size-default: var(--size-8);
    --size-large: var(--size-9);

    /******** spacing *******/

    --spacing-1: 2px;
    --spacing-2: 4px;
    --spacing-3: 6px;
    --spacing-4: 8px;
    --spacing-5: 10px;
    --spacing-6: 12px;
    --spacing-7: 16px;
    --spacing-8: 20px;
    --spacing-9: 24px;
    --spacing-10: 32px;
    --spacing-11: 36px;
    --spacing-12: 40px;
    --spacing-13: 48px;
    --spacing-14: 56px;
    --spacing-15: 60px;
    --spacing-16: 64px;
    --spacing-17: 72px;
    --spacing-18: 80px;
    --spacing-19: 84px;
    --spacing-20: 96px;
    --spacing-21: 100px;
    --spacing-22: 120px;

    /******** shadow *******/

    --shadow-none: none;
    --shadow-special: 0 0 1px rgba(0, 0, 0, 0.3);
    --shadow1-center: 0 0 5px rgba(0, 0, 0, 0.1);
    --shadow1-up: 0 -2px 5px rgba(0, 0, 0, 0.1);
    --shadow1-down: 0 2px 5px rgba(0, 0, 0, 0.1);
    --shadow1-left: -2px 0 5px rgba(0, 0, 0, 0.1);
    --shadow1-right: 2px 0 5px rgba(0, 0, 0, 0.1);
    --shadow1-left-up: -2px -2px 5px rgba(0, 0, 0, 0.1);
    --shadow1-left-down: -2px 2px 5px rgba(0, 0, 0, 0.1);
    --shadow1-right-up: 2px -2px 5px rgba(0, 0, 0, 0.1);
    --shadow1-right-down: 2px 2px 5px rgba(0, 0, 0, 0.1);
    --shadow2-center: 0 0 10px rgba(0, 0, 0, 0.1);
    --shadow2-up: 0 -4px 10px rgba(0, 0, 0, 0.1);
    --shadow2-down: 0 4px 10px rgba(0, 0, 0, 0.1);
    --shadow2-left: -4px 0 10px rgba(0, 0, 0, 0.1);
    --shadow2-right: 4px 0 10px rgba(0, 0, 0, 0.1);
    --shadow2-left-up: -4px -4px 10px rgba(0, 0, 0, 0.1);
    --shadow2-left-down: -4px 4px 10px rgba(0, 0, 0, 0.1);
    --shadow2-right-up: 4px -4px 10px rgba(0, 0, 0, 0.1);
    --shadow2-right-down: 4px 4px 10px rgba(0, 0, 0, 0.1);
    --shadow3-center: 0 0 20px rgba(0, 0, 0, 0.1);
    --shadow3-up: 0 -8px 20px rgba(0, 0, 0, 0.1);
    --shadow3-down: 0 8px 20px rgba(0, 0, 0, 0.1);
    --shadow3-left: -8px 0 20px rgba(0, 0, 0, 0.1);
    --shadow3-right: 8px 0 20px rgba(0, 0, 0, 0.1);
    --shadow3-left-up: -8px -8px 20px rgba(0, 0, 0, 0.1);
    --shadow3-left-down: -8px 8px 20px rgba(0, 0, 0, 0.1);
    --shadow3-right-up: 8px -8px 20px rgba(0, 0, 0, 0.1);
    --shadow3-right-down: 8px 8px 20px rgba(0, 0, 0, 0.1);

    /******** fontSize *******/

    --font-size-display-3: 56px;
    --font-size-display-2: 48px;
    --font-size-display-1: 36px;
    --font-size-title-3: 24px;
    --font-size-title-2: 20px;
    --font-size-title-1: 16px;
    --font-size-body-3: 14px;
    --font-size-body-2: 13px;
    --font-size-body-1: 12px;
    --font-size-caption: 12px;

    /******** Primary *******/

    --primary-1: var(--blue-1);
    --primary-2: var(--blue-2);
    --primary-3: var(--blue-3);
    --primary-4: var(--blue-4);
    --primary-5: var(--blue-5);
    --primary-6: var(--blue-6);
    --primary-7: var(--blue-7);
    --primary-8: var(--blue-8);
    --primary-9: var(--blue-9);
    --primary-10: var(--blue-10);

    /******** success *******/

    --success-1: var(--green-1);
    --success-2: var(--green-2);
    --success-3: var(--green-3);
    --success-4: var(--green-4);
    --success-5: var(--green-5);
    --success-6: var(--green-6);
    --success-7: var(--green-7);
    --success-8: var(--green-8);
    --success-9: var(--green-9);
    --success-10: var(--green-10);

    /******** warning *******/

    --warning-1: var(--orange-1);
    --warning-2: var(--orange-2);
    --warning-3: var(--orange-3);
    --warning-4: var(--orange-4);
    --warning-5: var(--orange-5);
    --warning-6: var(--orange-6);
    --warning-7: var(--orange-7);
    --warning-8: var(--orange-8);
    --warning-9: var(--orange-9);
    --warning-10: var(--orange-10);

    /******** danger *******/

    --danger-1: var(--red-1);
    --danger-2: var(--red-2);
    --danger-3: var(--red-3);
    --danger-4: var(--red-4);
    --danger-5: var(--red-5);
    --danger-6: var(--red-6);
    --danger-7: var(--red-7);
    --danger-8: var(--red-8);
    --danger-9: var(--red-9);
    --danger-10: var(--red-10);

    /******** link *******/

    --link-1: var(--cyan-1);
    --link-2: var(--cyan-2);
    --link-3: var(--cyan-3);
    --link-4: var(--cyan-4);
    --link-5: var(--cyan-5);
    --link-6: var(--cyan-6);
    --link-7: var(--cyan-7);
    --link-8: var(--cyan-8);
    --link-9: var(--cyan-9);
    --link-10: var(--cyan-10);

    /******** radius *******/

    --radius-none: 0;
    --radius-small: 2px;
    --radius-medium: 4px;
    --radius-large: 8px;
    --radius-circle: 50%;

    /* Other */
    --light: #ffffff;
    --dark: #000000;

    /* variables*/
    --border: var(--gray-3);
    --bg-popup: var(--bg-5);
    --bg-1: var(--gray-6);
    --bg-2: var(--gray-7);
    --bg-3: var(--gray-8);
    --bg-4: var(--gray-9);
    --bg-5: var(--gray-10);
    --bg-white: #fff;
    --text-1: var(--gray-2); /* 标题，正文*/
    --text-2: var(--gray-4); /* 语句*/
    --text-3: var(--gray-6); /* 次要信息*/
    --text-4: var(--gray-8); /* 次要信息*/
    --fill-1: var(--gray-2);
    --fill-2: var(--gray-3);
    --fill-3: var(--gray-4);
    --fill-4: var(--gray-5);
    --border-1: var(--gray-2);
    --border-2: var(--gray-3);
    --border-3: var(--gray-4);
    --border-4: var(--gray-6);
    --primary-light-1: var(--primary-1);
    --primary-light-2: var(--primary-2);
    --primary-light-3: var(--primary-3);
    --primary-light-4: var(--primary-4);
    --secondary: var(--gray-9);
    --secondary-hover: var(--gray-3);
    --secondary-active: var(--gray-4);
    --secondary-disabled: var(--gray-1);
    --danger-light-1: var(--danger-1);
    --danger-light-2: var(--danger-2);
    --danger-light-3: var(--danger-3);
    --danger-light-4: var(--danger-4);
    --success-light-1: var(--success-1);
    --success-light-2: var(--success-2);
    --success-light-3: var(--success-3);
    --success-light-4: var(--success-4);
    --warning-light-1: var(--warning-1);
    --warning-light-2: var(--warning-2);
    --warning-light-3: var(--warning-3);
    --warning-light-4: var(--warning-4);
    --link-light-1: var(--link-1);
    --link-light-2: var(--link-2);
    --link-light-3: var(--link-3);
    --link-light-4: var(--link-4);
}
