/* checked 预先选定复选框或单选按钮。*/
.cn-check::before {
    display: block;
    font-family: 'Material Icons';
    font-display: auto;
    content: attr(checked-char);
    text-align: center;
    line-height: 1em;
    height: 1em;
    color: white;
}
.cn-check[checked='false']::before {
    color: gray;
}
.cn-check[checked='true'] {
    @apply bg-blue-600 border-blue-600;
}
