.cn-image {
    &.round {
        border-radius: 50%;
        overflow: hidden;
    }
    &.error,
    &.loading {
        background-color: var(--gray-9);
    }
    &.error {
        color: var(--red-6);
    }
    &.loading {
        color: var(--gray-6);
    }
}
