.popover__arrow {
    --arrow-size: 0.75rem;
    --arrow-background: white;
}

.popover__arrowTip {
}

.popover__content {
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.popover__content:is([open], [data-state='open']) {
    animation: fadeIn 0.25s;
}

.popover__content:is([data-state='closed']) {
    animation: fadeOut 0.2s;
}

.popover__content:is([hidden]) {
    display: none;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-4px);
    }
}
