---
import Layout from '../layouts/Layout.astro';
const files =await Astro.glob('./zh-cn/**/*.md')
---

<Layout title="正式操作">
    <section>

        <main class="flex flex-col gap-2 ">

            {files.map((i,index)=>{
                return <a href={i.url} >{
                    i.frontmatter.title
                }</a>
            })}
        </main>
</section>
</Layout>
