/* checked 预先选定复选框或单选按钮。*/
.cn-check::before {
    display: block;
    font-family: 'Material Icons';
    font-display: auto;
    content: attr(checked-char);
    text-align: center;
    font-size: 0.8em;
    line-height: 1rem;
    height: 1rem;
    color: white;
}
.cn-check[checked='false']::before {
    color: gray;
}
.cn-check.indeterminate::before {
    content: '-';
}
.cn-check[checked='true'] {
    @apply border-blue-600 bg-blue-600;
}
