.cn-collapse > div:not(:first-child) {
    border-bottom: 1px solid var(--cn-border-design-border);
}
.cn-collapse > div:first-child {
    border-bottom: 1px solid var(--cn-border-design-border);
    border-top: 1px solid var(--cn-border-design-border);
}
.cn-collapse-container > * {
    min-height: 0;
}
