input.hidden_control::-webkit-outer-spin-button,
input.hidden_control::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
input.hidden_control[type='number'] {
    -moz-appearance: textfield;
}
